@model KakPishetsya.Common.Data.Models.Rule

@{
    ViewBag.Title = "Создание правила";
    ViewBag.PageName = "Создание правила";
}

<div class="header">
    <h1>@ViewBag.PageName</h1>
</div>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Администрирование", "Index", "Administration") <span class="divider">/</span> </li>
    <li>@Html.ActionLink("Правила", "Index", "Rules") <span class="divider">/</span> </li>
    <li class="active">@ViewBag.PageName</li>
</ul>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Правило</legend>

        @Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Обратно к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
