@model IEnumerable<KakPishetsya.Common.Data.Models.Rule>
@{
    ViewBag.Title = "Правила";
    ViewBag.PageName = "Правила";
}

<div class="header">
    <h1>@ViewBag.PageName</h1>
</div>
<ul class="breadcrumb">
    <li>@Html.ActionLink("Администрирование", "Index", "Administration") <span class="divider">/</span> </li>
    <li class="active">@ViewBag.PageName</li>
</ul>

<p>
    @Html.ActionLink("Создать", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Ajax.ActionLink("Удалить", "Delete", new { id = item.Id }, new AjaxOptions { HttpMethod = "POST" }, new { onclick = "return confirm('Вы действительно хотите удалить данное правило?')" })
            </td>
        </tr>
    }
</table>