@{
    ViewBag.Title = "Администрирование";
}

<h2>Администрирование</h2>

<div>
    <div>@Html.ActionLink("Слова", "Index", "Words")</div>
    <div>@Html.ActionLink("Правила", "Index", "Rules")</div>
    <div>@Html.ActionLink("Предложенные слова", "Index", "OfferWords")</div>
    <div>@Html.ActionLink("Отзывы", "Index", "Feedbacks")</div>
    <div>@Html.ActionLink("Незарегестрированные поисковые слова", "Index", "UnregSearchWord")</div>
</div>
